<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{message}}</h1>
        <form method="post" action="/form-data-submit">
            <div class="form-group">
                <label for="">email id</label>
                <input type="email" class="form-control" name="email" id="" aria-describedby="emailHelpId" placeholder="">
            </div>
            <br>
            <div class="form-group">
              <label for="">password</label>
              <input type="password" class="form-control" name="password" id="" placeholder="">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>